.selectContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0);
  z-index: 1000;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  overflow: auto;
  padding: 1em 1em;
  flex-direction: column;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  max-width: 28em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: 1em;
  gap: 1em;
  border-radius: 1em;
  animation: show 300ms alternate;
}
.card section {
  display: flex;
  width: 100%;
}
@keyframes show {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.headerText {
  font-weight: 600;
  color: var(--default);
  font-size: 1.25rem;
}

.iconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.closeIcon {
  padding: 0.25em;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms;
  fill: var(--icon-color);
}

.closeIcon:hover {
  background: var(--main-lightest);
}
.addressCard {
  background: #ffffff;
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 0.875rem;
  gap: 2rem;
}
.cardTop {
  display: flex;    
  justify-content: space-between;
  align-items: center;
}
.cardTop > svg{
  transform: rotate(180deg);
  transition: all 200ms;
  cursor: pointer;
}
.cardTop > svg:hover{
  translate: 6px;
}
.cardTop > svg path {
  stroke: #000
}
.content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.content > p {
  width: fit-content;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.51);
}
.content > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content > div > svg {
  height: 2rem;
  width: 100%;
}
.btnWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btnWrapper p,.btnWrapper div{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 23px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0.5rem 1.1rem;  
  cursor: pointer;
  transition: all 300ms;
}
.btnWrapper p  svg path,.btnWrapper div svg path{
  transition: stroke 300ms;
}
 .btnWrapper div{
  background: #ff0000;
  color: var(--default);
  cursor: pointer;
  border: 1px solid #ff0000;
}
.btnWrapper div:hover{
  background: #ffffff;
  color:#ff0000;
}
.btnWrapper div:hover svg path{
  stroke: #ff0000;
}
.btnWrapper p {
  background: transparent;
  color: var(--default);
  border: 1px solid #cacdd5;
  color: #cacdd5;
}
.btnWrapper p:hover{
  background: #cacdd5;
  color: var(--default);
}
.btnWrapper p:hover svg path{
  stroke: var(--default);
}
@media screen and (max-width: 768px) {
  .heading h4 {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 480px) {
  .heading h4 {
    font-size: 0.75rem;
  }
  .wrapper {
    gap: 10px;
  }
  .btn {
    margin-top: 1em;
  }
}
